# Thumbnails
._*

## User settings
xcuserdata/

.build/

# CocoaPods
Podfile.lock
Pods/
*.xcworkspace

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings